<app-header></app-header>

<div class="row my-5">
  <div class="col-12 justify-content-center d-flex">
    <div class="inner-wrapper card card-body" id="changePasswordView">
      <form class="pt-0">
        <h2 class="mb-4 text-center">Change Password</h2>
        <div class="form-group">
          <label for="oldPassword">Old Password</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Old Password"
            id="oldPassword"
            name="adminOldPwd"
            [(ngModel)]="oldPwd"
            (input)="checkOldPwd($event)"
          />
          <div
            class="alert alert-danger old-password-error"
            [ngClass]="{ 'd-none': pwdNotMatch }"
            role="alert"
          >
            You have entered the wrong password!
          </div>
        </div>

        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter New Password"
            id="newPassword"
            name="adminNewPwd"
            [(ngModel)]="newPwd"
          />
        </div>

        <div class="form-group">
          <label for="RenewPassword">Re-Enter New Password</label>
          <input
            type="text"
            class="form-control"
            placeholder="Re-Enter New Password"
            id="RenewPassword"
            name="reNewPwd"
            [(ngModel)]="reNewPwd"
            (input)="checkRePwd($event)"
          />
          <div
            class="alert alert-danger new-password-error"
            role="alert"
            [ngClass]="{ 'd-none': rePwdMatch }"
          >
            Password doesn't match
          </div>
        </div>

        <a
          href="#"
          type="submit"
          class="btn btn-primary update-password"
          [ngClass]="{ disabled: !validate }"
          (click)="changePwd($event)"
        >
          Update Password
        </a>
      </form>
    </div>
  </div>
</div>
