<app-header></app-header>

<div class="row my-5">
  <div class="col-12 justify-content-center d-flex" id="issuedBookDetailsView">
    <div class="inner-wrapper card card-body">
      <!-- Login Form -->
      <div class="pt-0">
        <h2 class="mb-4 text-center">Issued Book Details</h2>

        <div class="issued-info-block">
          <p class="student-name">Student Name: <strong>ahuja</strong></p>
          <p class="book-name">Book Name: <strong>book name</strong></p>
          <p class="isbn-number">ISBN Number: <strong>1234</strong></p>
          <p class="issue-date">
            Book Issue Date: <strong>10-MAR-2020</strong>
          </p>
          <p class="return-date">
            Book Return Date: <strong>25-MAR-2020</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
